body {
    font-family: Arial; /* Styling font dasar */
    margin: 0;
}

header {
    text-align: center;
    background-color: #004d40; /* Warna hijau FT */
    padding: 20px;
    color: white;
    margin-bottom: 20px;

    position: sticky;
    top: 0;
    z-index: 1000; /* Agar header selalu di atas konten lain */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header h1 span {
    color: #ffc107; /* Aksen warna kuning */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pengumuman {
    border-left: 5px solid #004d40;
    border-right: 5px solid #004d40;
    padding: 20px;
    margin-bottom: 40px;
    width: 600px;

    background-color: white;
    transition: all 0.3s ease; /* Transisi halus untuk semua perubahan */
    position: relative; /* Dasar untuk elemen position: absolute di dalamnya */
    cursor: pointer;
}

.pengumuman:hover {
    transform: translateY(-5px); /* CSS3 Transform: Efek mengangkat kartu */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); /* Bayangan saat di-hover */
    border-color: #ffc107; /* Mengubah warna border saat di-hover */
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ffc107;
    color: #004d40;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.pengumuman p.tanggal {
    font-size: 12px;
    color: #666;
}

.pengumuman p.deskripsi {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

a {
    margin-top: 10px;
    color: #004d40;
    font-weight: bold;
    text-decoration: none;
}

.btn-selengkapnya {
    display: inline-block;
    transition: 0.2s;
}

.btn-selengkapnya:hover {
    letter-spacing: 1px;
    color: #ffc107;
}